<section class="mb-3">
  <nav class="navbar navbar-secondary bg-secondary">
      <button
        id="sidebarBtn"
        class="navbar-toggler second-button"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarToggleExternalContent10"
        aria-controls="navbarToggleExternalContent10"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="animated-icon2">
          <span></span><span></span><span></span><span></span>
        </div>
      </button>
    </div>
  </nav>
  
</section>
