<div class="mt-3 w-75 d-flex justify-content-around">
  <input
    class="row btn btn-outline-*"
    data-mdb-ripple-radius="65"
    id="clapBtn"
    type="image"
    src="../src/asset/clap.png"
  />

  <input
    class="row btn btn-outline-*"
    data-mdb-ripple-radius="65"
    id="bothBtn"
    type="image"
    src="../src/asset/both.png"
  />

  <input
    class="row btn btn-outline-*"
    data-mdb-ripple-radius="65"
    id="cheerBtn"
    type="image"
    src="../src/asset/cheer.png"
  />
</div>
